html {
  box-sizing: border-box;
}
html *,
html *:after,
html *:before {
  box-sizing: inherit;
}
html body,
html h1,
html h2 {
  margin: 0;
}
html a {
  color: inherit;
}
html img {
  display: block;
}
:root {
  --color-background: hsl(0, 0%, 10%);
  --color-foreground: hsl(0, 0%, 96%);
  --color-shadow: hsla(0, 0%, 4%, 0.4);
  --color-highlight: hsl(215, 75%, 83%);
  --font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-regular: 400 clamp(0.8em, 3vw, 1em) / 1.3em var(--font-family);
  --font-title: 600 clamp(2em, 10vw, 4em) / 1em var(--font-family);
  --font-h1: 600 clamp(1em, 4vw, 1.6em) / 1.2em var(--font-family);
  --font-small: italic 400 clamp(0.6em, 2vw, 0.8em) / 1.1em var(--font-family);
  --max-width: 700px;
  --text-shadow: 2px 2px 8px var(--color-shadow);
  --box-shadow: 0 5px 10px var(--color-shadow);
}
#app {
  font-size: 1.8rem;
  color: var(--color-foreground);
  height: 100dvh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background: var(--color-background);
}
.page-section {
  scroll-snap-align: start;
  padding: 3em min(10vw, 20px);
}
#season-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background: hsla(0, 0%, 100%, 0.3);
  border-radius: 100px;
  display: flex;
  gap: 5px;
  border: solid 3px hsla(0, 0%, 100%, 0.3);
}
#season-toggle input[type='radio'] {
  display: none;
}
#season-toggle input[type='radio']:checked + label {
  background-color: hsla(0, 0%, 100%, 0.3);
}
#season-toggle label {
  width: 35px;
  height: 35px;
  padding: 5px;
  aspect-ratio: 1/1;
  display: inline-block;
  cursor: pointer;
  border-radius: 100px;
}
#season-toggle label img {
  width: 100%;
  height: 100%;
}
#section-teaser {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12vh;
  scroll-snap-align: start;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  background: url('../media/teaser-summer.webp') center center;
  background-size: cover;
  transition: background-image 0.5s ease-out;
}
@media (max-width: 700px) {
  #section-teaser {
    gap: 7vh;
  }
}
#section-teaser #title {
  text-align: center;
  z-index: 100;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: var(--text-shadow);
}
#section-teaser #title h1 {
  font: var(--font-title);
  margin-bottom: 0.2em;
}
#section-teaser #title h2 {
  font: var(--font-h1);
}
#section-teaser #highlights {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  gap: 10px;
}
#section-teaser .highlights__bubble {
  font: var(--font-regular);
  border-radius: 1em;
  padding: 0.2em 0.8em;
  color: var(--color-background);
  background: var(--color-foreground);
}
#section-teaser a {
  font: var(--font-h1);
  text-shadow: var(--text-shadow);
}
#section-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#section-content article {
  max-width: var(--max-width);
}
#section-content article strong {
  color: var(--color-highlight);
}
#section-content article p {
  font: var(--font-regular);
  margin-bottom: 1.2em;
}
#section-content article p:first-of-type::first-letter {
  font-size: 2.5em;
}
#section-content article ul {
  margin: 0;
  padding: 1em;
}
#section-content article ul li {
  margin-bottom: 1em;
  font: var(--font-regular);
}
#section-content article h1 {
  margin-top: 3em;
  font: var(--font-h1);
}
#section-content .gallery {
  width: 100%;
  max-width: var(--max-width);
  margin: 1em 0;
}
#section-content .gallery .gallery__main {
  flex: 0 0 100%;
  height: min(60vh, 500px);
  margin-bottom: 2px;
  position: relative;
  background: black;
}
#section-content .gallery .gallery__main figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: hsla(0, 0%, 100%, 0.3);
  width: 100%;
  padding: 0.6em;
  font: var(--font-small);
}
#section-content .gallery .gallery__main img {
  object-fit: cover;
}
#section-content .gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#section-content .gallery ul.gallery__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: flex;
  gap: 2px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
#section-content .gallery li {
  scroll-snap-align: start;
  position: relative;
  flex: 0 0 20%;
  height: 80px;
  cursor: pointer;
}
#section-content .gallery li[data-selected] {
  border: solid 4px var(--color-foreground);
}
#section-footer {
  background: var(--color-foreground);
  color: var(--color-background);
  font: var(--font-small);
}
